// ========================================
//
// @file _navigation.scss
// All the navigation elements on the page
//
// ========================================

.navigation {

}
.region-header {
  text-transform: uppercase;
}

.read-more {
  background-color: #29c1e1;
  color: #fff;
  padding: 0.5% 2%;
  border-radius: 1rem;

   &:hover {
     background-color: $color-orange;
   }
}