.mypage-title {
  margin-bottom: 0;
  font-weight: normal;
  color: $color-font;
  text-transform: uppercase;
}
.mypage-subtitle {
  margin-top: 0;
  font-weight: normal;
  color: $color-font;
  text-transform: uppercase;


}