// ========================================
//
// @file _landing.scss
// Landing page specific styling
//
// ========================================

.front {

}

div.slider-caption {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  color: #fff;

  h1 {
    font-family: Karla-bold;
  }

  p {
    font-size: 1.5rem;
  }
}
ul.slick-dots {
  bottom: 4%;
}
span.free {
  color: $color-orange;
}
.free-service {
  margin-bottom: 2rem;

  h2 {
    color: $color-font;
  }

  h5 {
    color: $color-karla
  }
}
.free-service .read-more {
  &:nth-of-type(1) {
    padding: 0.5% 3.3%;
  }
}