// ========================================
//
// @file _landing.scss
// Landing page specific styling
//
// ========================================

.front {

}

div.slider-caption {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  color: #fff;

  h1 {
    font-family: Karla-bold;
  }

  p {
    font-size: 1.5rem;
  }
}
ul.slick-dots {
  bottom: 4%;
}
span.free {
  color: $color-orange;
}
.free-service {
  margin-bottom: 2rem;
  clear: both;
  padding: 20px;


  h2 {
    color: $color-font;
  }

  h5 {
    color: $color-karla
  }
}
.free-service .read-more {
  &:nth-of-type(1) {
    padding: 0.5% 3.3%;
  }
}

p.front-page {
  color: $color-karla;
  word-wrap: break-word;
}

.front-content {
  width: 60%;
  float: left;
  padding-right: 2em;
}
.boost-block {
  float: left;
  width:35%;
  top: 1em;
    p {
      font-size: 1.2em;
    }
}