.sidebar-none .region-content{
  max-width: 100%;
}

.sidebar-second .region-content{
  width: 75%;
  float: left;
  margin: 30px auto;
  display: inline-block;
}

.region-sidebar-second{
  float: right;
  margin: 50px auto;
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: baseline;

    .sidebar-event-title {
      text-transform: uppercase;
      border-left: 4px solid $color-blue;
      padding-left:9px;
        a {
          color: $color-font;
        }
    }
    .sidebar-event-date {
      color: $color-orange;
      padding-left: 13px;
    }
    .sidebar-event-image {
      padding-left: 13px;
    }
}


.sidebar-first .region-content{
  width: 75%;
  float: right;
  margin: 30px auto;
  display: inline-block;
}

.region-sidebar-first{
  float: left;
  margin: 40px auto;
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.events-sidebar .view-empty h3 {
  color: $color-orange;
  text-decoration: underline;
}

//media queries


.sidebar-second .region-content {
  @media (max-width: $screen-md) {
    max-width: 100%;
    float: none;
    margin: auto;
    display: block;
  }
}

.sidebar-first .region-content {
  @media (max-width: $screen-md) {
    max-width: 100%;
    float: none;
    margin: auto;
    display: block;
  }
}

.region-sidebar-second, .region-sidebar-first {
  @media (max-width: $screen-md) {
    float: none;
    margin: auto;
    width: 300px;
    display: block;
  }
}